:host {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.cover-photo {
  max-width: 430px;
}

.visited-place-card {
  max-width: 400px;
}

.main-heading {
  padding: 0 30px;
}

@media (max-width: 450px) {
  .visited-place-card {
    max-width: 300px;
  }
}
