.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  position: static;
  transform: none;
  font-size: 12px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

a.active {
  background-color: #ececec !important;
}

.branding {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  svg {
    width: 47px;
  }
}

.lang-btn {
  outline: none !important;

  &.active {
    background-color: #3f51b5;
    color: white;
  }
}

::ng-deep {
  .mat-menu-content:not(:empty) {
    padding: 0 !important;
  }

  .mat-menu-panel {
    border-radius: 0 !important;
  }

  .mat-toolbar-single-row {
    height: 65px !important;
  }
}

@media (min-width: 770px) {
  h1.example-app-name {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  h1.example-app-name {
    margin-left: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 3px);
  }

  .branding {
    transform: translate(-50%, -76%);

    svg {
      width: 35px;
    }
  }
}

.footer {
  background: #3f51b5;
  padding: 20px 0;
  color: white;
  margin-top: 20px;
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
