<ng-container *ngIf="viewModel$ | async as viewModel">
  <header
    [ngStyle]="{
      'background-image': 'url(' + viewModel[2].imageUrl + ')'
    }"
  >
    <h1 class="main-heading">
      {{ viewModel[1].name[viewModel[0]] }}
    </h1>
  </header>
  <main class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <mat-card class="description">
          {{ viewModel[1].description[viewModel[0]] }}
        </mat-card>
      </div>
      <!-- Gallery -->
      <div class="col-12">
        <gallery [items]="galleryImages$ | async"></gallery>
      </div>
    </div>
  </main>
</ng-container>
